.all-content-div {
  width: 100%;
}

.left-div {
  border: 1em;
  padding: 1em;
  width: 60%;
  float: left;
}

.left-card {
  margin: auto;
  border: 0;
  padding: 0;
}

.left-card-title {
  padding: 0.25em;
}

.left-card-content {
  border: 0.1em;
  padding: 0.5em;
}

.right-div {
  border: 1em;
  padding: 1em;
  width: 33%;
  float: right;
}

.right-card {
  margin: auto;
  border: 0;
  padding: 0;
}

.right-card-title {
  padding: 0.25em;
}

.right-card-content {
  border: 0.05em;
  padding: 0.25em;
}

.mat-list {
  border: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mat-list-item {
  height: auto !important;
}
