.paper-list {
  margin: auto;
  width: 50%;
  border: 0;
  padding: 0;
}

.paper-list-item {
  border: 0;
  padding: 0;
}

.paper-list-link {
  text-decoration: none;
}

.paper-list-link:hover {
  text-decoration: underline;
}

.paper-card {
  margin: auto;
  width: 50%;
  border: 0;
  padding: 0;
}

.paper-card-title {
  border: 0;
  padding: 3px;
}

.paper-card-subtitle {
  border: 0;
  padding: 3px;
}

.paper-card-content {
  border: 3px;
  padding: 10px;
}
